body{
  background: grey;
  padding: 0;
  margin: 0;
}
.container{
      border-radius: 3px;
      height: 700px;
      width: 100%;
      background-color: #e0e0d1;
}


.navbar ul img{
  width: 80px;
  height: 50px;
  margin: -34px;
}
.navbar ul {
    margin: 0;
    width: auto;
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
}
li{
  float: right;
}
li a {
    padding: 15px;
    text-decoration: none;
    display: block;
    color: #fff;
}
li a:hover {
    background-color: #000;
}


/*.footer {
  position:absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  background-color: #333;
}*/
